@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'bohemian-typewriter';
  src: url('fonts/bohemian-typewriter.ttf') format('truetype'),
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  width: 720px;
  margin-right: auto;
  margin-left: auto;
}
